
html{
  font-size: 20px;
}

body{
  color: rgb(12, 12, 12);
  //background-color: cadetblue;
}
.app{
  height: 94%;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}

.watch{
  width: inherit;
  font-size: 33px;
  margin-bottom: 0%;
}

footer{
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6%;
  background: #2196F3;
  position: fixed;
  width: 99%;
  bottom: 0;
}
